// Pre Required
@import "./prepared/fonts.scss";
@import "./prepared/variables.scss";
@import "./prepared/defaults.scss";
// Components
@import "./components/logo.scss";
@import "./components/title.scss";
@import "./components/profile-box.scss";
@import "./components/socials.scss";
@import "./components/start-quiz.scss";
@import "./components/pages.scss";
@import "./components/progress-bar.scss";