*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	&::after {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	&::before {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
}

html{
	font-size: $font-size-default;
}

body{
	direction: ltr;
    font-family: $font-normal, $font-reset-default;
    font-size: 1rem;
    color: $color-primary;
}

h1,h2,h3,h4,h5,h6,strong{font-weight: normal;}
i{font-style: normal;}

p{
    line-height: 1.6;
    font-size: 0.8rem;
    padding-top:15px;
    strong{
        color: $color-secondary;
	}
}

a{
    color:inherit;
	text-decoration: none;
	outline: none;
	transition: all .2s;
	&:hover {
		outline: none;
	}
	&:focus {
		outline: none;
    }
    &:active{
        opacity: .8;
        transform:scale(.8,.8);
    }
	img {
		outline: none;
		border: none;
	}
}

img {
	display: block;
	max-width: 100%;
	height: auto !important;
	margin: auto;
}

ul,
ol{list-style: none;}

::-webkit-input-placeholder {
	font-family: $font-normal;
	font-size: $font-size-sm;
	color: $color-grey;
}
:-moz-placeholder {
	font-family: $font-normal;
	font-size: $font-size-sm;
	color: $color-grey;
}
::-moz-placeholder {
	font-family: $font-normal;
	font-size: $font-size-sm;
	color: $color-grey;
}
:-ms-input-placeholder {
	font-family: $font-normal;
	font-size: $font-size-sm;
	color: $color-grey;
}

// input:focus::-webkit-input-placeholder{color:$color_1;}
// input:focus:-moz-placeholder{color:$color_1;}
// input:focus::-moz-placeholder{color:$color_1;}
// input:focus:-ms-input-placeholder{color:$color_1;}

input {
	&:-webkit-autofill {
		background-color: $color-primary;
		&:focus {
			background-color: $color-primary;
		}
		&:active {
			background-color: $color-primary;
		}
    }
    display: block;
	width: 100%;
	height: $input-height;
	line-height: $input-height;
	font-family: $font-normal;
	font-size: $font-size-md;
	color: $color-secondary;
	-webkit-appearance: none;
	transition: all .2s ease-in-out;
    padding: 0 15px;
    outline: none;
    background-color: $color-primary;
	border: none;
	border-radius: $border-radius-lg;
	&:focus {
		background-color: $color-primary;
	}
}

select {
	display: block;
	width: 100%;
	height: $input-height;
	line-height: $input-height;
	font-size: $font-size-md;
	text-align: center;
    padding: 0 15px;
    cursor: pointer;
    outline: none;
	background: url('~@/assets/images/assets/arrow-bottom-dark.svg') no-repeat 95% center $background_color_1;
	background-size: 10px;
    border:none;
	-webkit-appearance: none;
}

button{
	position: relative;
    display: block;
    width:100%;
	height: 52px;
	font-family: inherit;
    font-size: $font-size-md;
	text-align: center;
	padding:5px 10px;
    margin-top:30px;
    outline: none;
	cursor: pointer;
    user-select: none;
    border:none;
	border-radius: 2px;
	transition:all .2s ease-in-out;
	&:active{
		opacity: .8;
		transform:scale(.8,.8);
	}
}
