// Primary Styles
$font-normal: 'Muli';
$font-reset-default: sans-serif;
$font-rtl: 'Iran';
$font-size-xs: 13px;
$font-size-sm: 14px;
$font-size-md: 15px;
$font-size-default: 18px;
$font-size-lg: 17px;
$font-size-xlg: 18px;
$color-primary: #65eaff;
$color-primary-dark: #13bdf7;
$color-primary-light: #b2f5ff;
$color-secondary: #fe6192;
$color-secondary-dark: #ff3cad;
$color-danger: #ff0000;
$color-success: #00ff00;
$color-warning: #0000ff;
$color-white: #ffffff;
$color-grey: #aeaeae;
$color-grey-200: #e1e1e1;
$color-grey-900: #2e2e2e;
$color-black: #000000;
$color-gradient-mix: linear-gradient(90deg, rgba(101,234,255,1) 0%, rgba(254,97,146,1) 72%);
$border-radius-xs: 1px;
$border-radius-sm: 2px;
$border-radius-md: 3px;
$border-radius-lg: 4px;
$border-radius-default: 5px;
$border-radius-round: 50px;
$size-xxs: 320px;
$size-xs: 480px;
$size-sm: 640px;
$size-md: 760px;
$size-lg: 1024px;
$size-xlg: 1240px;
// Transitions
$transition-sm: 0.2s ease-in-out;
// Elements Styles
$input-height: 40px;
$social-box-height: 120px;
$social-icon-width: 50px;
$profile-box-width: 375px;
$profile-box-height: 350px;
$profile-card-image: 50px;
$result-card-height: 500px;
$result-card-width: 640px;
$result-status-width: 150px;
$progress-bar-width: 300px;