.profile-box-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top:70px;
    .profile-box{
        width: 31%;
    }
    @media (max-width: $laptop-screen) {
        .profile-box{
            width: 46.5%;
        }
    }
    @media (max-width: $tablet-screen) {
        margin-top:40px;
        .profile-box{
            width: 100%;
        }
    }
    @media (max-width: $mobile-screen) {
        margin-top:20px;
    }
}

.profile-box{
    position: relative;
    width: 100%;
    max-width: $profile-box-width;
    overflow: hidden;
    cursor: pointer;
    margin:1.2rem 0;
    box-shadow: 0 0 15px $color-grey-400;
    border-radius: $border-radius-default;
    transition: $transition-sm;
    > img{
        transition: $transition-sm;
    }
    &.display-only{
        cursor: default;
    }
    &:not(.display-only):hover{
        box-shadow: 0 0 15px $color-grey-900;
        > img{
            transform: scale(1.1, 1.1);
        }
    }
    .activies{
        position: absolute;
        top:10px;
        left:10px;
        width: 100%;
        z-index: 10;
        img{
            display: inline-block;
            width: $social-image-size;
            margin:0 10px 0 0;
        }
    }
    h2{
        position: absolute;
        bottom: 0;
        left:0;
        width: 100%;
        color: $color-white;
        text-align: center;
        padding:13px 5px;
        background-color: $color-primary-transparent;
        z-index: 10;
    }
    @media (max-width: $tablet-screen) {
        margin:1.2rem auto;
    }
    @media (max-width: $mobile-screen) {
        margin:1rem auto;
    }
    @media (max-width: $mobile-screen-xs) {
        height: $profile-box-height-xs;
    }
}