.profile-box-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top:100px;
    @media (max-width: $tablet-screen) {
        margin-top:40px;
    }
}

.profile-box{
    position: relative;
    width: 31%;
    max-width: $profile-box-width;
    height: $profile-box-height;
    overflow: hidden;
    cursor: pointer;
    margin:1.2rem 0;
    box-shadow: 0 0 15px $color-grey;
    border-radius: $border-radius-default;
    transition: $transition-sm;
    &.display-only{
        cursor: default;
    }
    &:not(.display-only):hover{
        box-shadow: 0 0 15px $color-grey-900;
    }
    h2{
        position: absolute;
        bottom: 0;
        left:0;
        width: 100%;
        color: $color-white;
        text-align: center;
        padding:13px 5px;
        background-color: $color-primary-dark;
        z-index: 10;
    }
    @media (max-width: $laptop-screen) {
        width: 46.5%;
    }
    @media (max-width: $tablet-screen) {
        width: 100%;
        margin:1.2rem auto;
    }
    @media (max-width: $mobile-screen-xs) {
        height: $profile-box-height-xs;
    }
}