.progress-bar{
    position: relative;
    max-width: 500px;
    width: 100%;
    height: 40px;
    line-height: 38px;
    overflow: hidden;
    text-align: center;
    margin:0 auto;
    background-color: $color-grey-200;
    border-radius: $border-radius-round;
    &.display-only{
        max-width: $progress-bar-width;
        height: 25px;
        margin:0 auto;
        strong{
            font-size: .7rem;
        }
    }
    span{
        display: block;
        height: 100%;
        background: $color-gradient-mix;
        transition: all .3s ease-in-out;
    }
    strong{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }
    @media (max-width: $mobile-screen) {
        height: 35px;
    }
}