.progress-bar{
    position: relative;
    max-width: 500px;
    width: 100%;
    height: 40px;
    line-height: 38px;
    overflow: hidden;
    text-align: center;
    margin: auto;
    background-color: $color-grey-200;
    border-radius: $border-radius-round;
    span{
        display: block;
        height: 100%;
        background: $color-gradient-mix; 
    }
    strong{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }
}