.socials{
    margin: 20px -20px -20px -20px;
    background-color: $color-grey-100;
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: $social-box-height;
        li{
            margin:0 10px;
            img{
                width:$social-icon-width;
            }
        }
    }
}