.title{
    text-align: center;
    @media (max-width: $tablet-screen) {
        padding:1rem 0 !important;
        margin:1rem 0 !important;
    }
    @media (max-width: $mobile-screen) {
        padding:.8rem 0 !important;
        margin:.8rem 0 !important;
    }
}