.title{
    text-align: center;
    @media (max-width: $tablet-screen) {
        padding-top:1rem !important;
        margin-top:1rem !important;
    }
    @media (max-width: $mobile-screen) {
        padding:.8rem 0 !important;
        margin:.8rem 0 !important;
    }
}